.title{
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px;
  color : #DF2E38;
}

.paragraft{
  font-size : 18px;
  text-align: justify;
}

.background-right{
  background-color: #DF2E38;
  min-height: 100vh;
  width: 50%;
  position: absolute;
  z-index: -1;
  top : 0;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  float : right;
  right: 0;
}

.card-product:hover{
  animation-name : card-product-click;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 10;
}

@keyframes card-product-click {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  } 
}